/* Light */
$color-white: #FFFFFF;
$color-light-extra: #FCFCFC;

/* Light-Grey */

/* Grey */

/* Dark Grey */

/* Dark */
$color-black: #000000;


/* Snow */
$color-snow: #f9f9fA;
$color-snow-dark: #F6F6F7;
$color-snow-light: #FCFCFD;

/* Anthracite */
$color-anthracite: #28282D;