/* White */
$color-white: #FFFFFF;

/* Snow */
$color-snow: #FCFCFD;
$color-snow-dark: #F6F6F7;
$color-snow-dark-2: #F2F2F3;

/* Cold Snow */
$color-snow-cold: #FAFAFF;
$color-snow-cold-dark: #F4F4F9;

/* Hot Snow */


/* Anthracite */
$color-anthracite: #28282D;